#clip {
    position: absolute;
    top:0;
    left:0;
}
.MIL{
    clip: rect(0, 213px, 144px, 0);
}

.ARI{
    clip: rect(0, 426px, 144px, 213px);
}

.CHC{
    clip: rect(0, 639px, 144px, 426px);
}

.DET{
    clip: rect(0, 852px, 144px, 639px);
}

.MIN{
    clip: rect(0, 1065px, 144px, 852px);
}

.STL{
    clip: rect(0, 1280px, 144px, 1065px);
}

.BAL{
    clip: rect(144px, 213px, 288px, 0);
}

.BOS{
    clip: rect(144px, 426px, 288px, 213px);
}

.CWS{
    clip: rect(144px, 639px, 288px, 426px);
}

.HOU{
    clip: rect(144px, 852px, 288px, 639px);
}

.NYM{
    clip: rect(144px, 1065px, 288px, 852px);
}

.TB{
    clip: rect(144px, 1280px, 288px, 1065px);
} 

.CIN{
    clip: rect(288px, 213px, 432px, 0);
}

.CLE{
    clip: rect(288px, 426px, 432px, 213px);
}

.COL{
    clip: rect(288px, 639px, 432px, 426px);
}

.KC{
    clip: rect(288px, 852px, 432px, 639px);
}

.NYY{
    clip: rect(288px, 1065px, 432px, 852px);
}

.TEX{
    clip: rect(288px, 1280px, 432px, 1065px);
} 
.LAA{
    clip: rect(432px, 213px, 576px, 0);
}

.LAD{
    clip: rect(432px, 426px, 576px, 213px);
}

.MIA{
    clip: rect(432px, 639px, 576px, 426px);
}

.ATL{
    clip: rect(432px, 852px, 576px, 639px);
}

.OAK{
    clip: rect(432px, 1065px, 576px, 852px);
}

.TOR{
    clip: rect(432px, 1280px, 576px, 1065px);
} 

.PHI{
    clip: rect(576px, 213px, 720px, 0);
}

.PIT{
    clip: rect(576px, 426px, 720px, 213px);
}

.SD{
    clip: rect(576px, 639px, 720px, 426px);
}

.SEA{
    clip: rect(576px, 852px, 720px, 639px);
}

.SF{
    clip: rect(576px, 1065px, 720px, 852px);
}

.WAS{
    clip: rect(576px, 1280px, 720px, 1065px);
} 