#clip {
    width: 100%;
}
#dailyClip {
    width: 200%;
}
@media only screen and (max-width: 1024px) {
    #dailyClip {
        width: 100%;
    }
}
.card{
    cursor: pointer;
    width:80%;
    background-color: #fafafa !important;
}
