.Modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 100px;
    background-color:#f0f0f0;
    background-color:#556a51 !important;
    opacity: 0.95;
    padding-top:10px;
  }
  @media only screen and (max-width: 768px) {
    .Modal {
      overflow:scroll;
    }

  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  button.close{
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    
  }
  .modalClose{
  padding-right:75%;
  float:right;
  line-height:1;
  color:#fff;
  font-size: 3rem;
}