.App {
  text-align: center;
  background-color:#eaeaea;
}

.App-logo {
  height: 80px;
}

.App-header, .App-footer{
  background-color: #002e6d;
  height: 150px;
  padding: 20px;
  text-align: left;
  color: white;
}
.App-footer{
  background-color: #d50032;
  height: 50px;
  text-align: center;
}
.App-title {
  font-size: 4em;
}

@media only screen and (max-width: 992px) {
  .App-title{
    font-size:3em;
  }
}
@media only screen and (max-width: 768px) {
  .App-title{
    font-size:2em;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#content{
  margin-top:20px;
  margin-left:50px;
  margin-right:50px;
  margin-bottom: 50px;
  background-color:transparent;
}